main.contato {
  /* height: 70vh; */
  background-color: whitesmoke;
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main.contato h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

main.contato p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

main.contato form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 0 auto; */
  width: 400px;
}

main.contato label {
  margin-bottom: 5px;
}

main.contato input {
  margin-bottom: 10px;
  border: 1px solid #AAA;
  border-radius: 5px;
  height: 40px;
  width: 30vw;
}

main.contato form textarea {
  width: 30vw;
  height: 100px;
  resize: vertical;
  border: 1px solid #AAA;
  border-radius: 5px;
  margin-bottom: 20px;
}

main.contato input[type=button] {
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 30vw;
}

main.contato input[type=button]:hover {
  cursor: pointer;
  background-color: #333;
}

main.contato i {
  font-size: 150px;
  color: #0d6efd;
}

@media all and (max-width: 1100px) {
  main.contato h1 {
    text-align: center;
  }

  main.contato form {
    width: 100vw;
    align-items: center;
  }

  main.contato i {
    display: none;
  }
}