main.contato {
  height: 70vh;
  background-color: whitesmoke;
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main.contato h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

main.contato p {
  /* text-align: center; */
  margin-bottom: 20px;
  font-size: 20px;
}

main.contato form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 0 auto; */
  width: 400px;
}

main.contato label {
  margin-bottom: 5px;
}

main.contato input {
  margin-bottom: 10px;
  border: 1px solid #AAA;
  border-radius: 5px;
}

main.contato form textarea {
  width: 360px;
  resize: vertical;
  border: 1px solid #AAA;
  border-radius: 5px;
  margin-bottom: 20px;
}

main.contato input[type=button] {
  background-color: #f49d37;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 360px;
}

main.contato input[type=button]:hover {
  cursor: pointer;
  background-color: tomato;
}

main.contato i {
  font-size: 200px;
  color: #333;
}

@media all and (max-width: 1100px) {
  main.contato form {
    max-width: 80vw;
  }

  main.contato i {
    display: none;
  }
}